
<!-- Gestion des groupes en cherchant dans load auth_extras-->
{% load crispy_forms_tags %}
{% load static %}


<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <link href="{% static 'application_adyma/style.css' %}" rel="stylesheet">
        <!-- <title>Questions / Réponses</title> -->
    </head>

    <body>

        <div class="box">
            <img class="logo_login" src="{% static 'application_adyma/img/logo-adyma.png' %}" alt="">
               <h1>Bienvenue sur l'application Adyma</h1>

                <form method="POST">
                    {% csrf_token %}
                    <div>
                    <fieldset class="form-group">
                    {{ form|crispy }}
                    </fieldset>
                </div>
                    <div class="form-group">
                        <button class="btn btn-outline-info" type="submit">Se connecter</button>
                    </div>
                </form>

        
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    </body>
</html>

