{% extends "application_adyma/base.html" %}
{% load auth_extras %}
{% block content %}
<h1>
    Bienvenue sur la page d'accueil d'Adyma
</h1>


<div class="media-body">
    {% if user.is_authenticated %}
        {% if request.user|has_group:"coach" %} 
        <h2>Bienvenue à vous Coach </h2>
        {% endif %}
        {% if request.user|has_group:"structure" %} 
        <h2>Bienvenue à vous Structure</h2>
        {% endif %}

        <h4 class="account-heading">Votre identifiant :{{ user.username }}</h4>
        <h4 class="account-heading">Votre adresse mail : {{ user.email }}</h4>
    {% else %}
    <h2>
        Veuillez vous connecter sur la plateforme pour pouvoir continuer
    </h2>

    {% endif %}
</div>
{% endblock %}