{% load static %}
<!-- Gestion des groupes en cherchant dans load auth_extras-->
{% load auth_extras %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">
        <img src="{% static 'application_adyma/img/logo-adyma.png' %}"  id= "logo" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      {% if user.is_authenticated %}
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% if request.user|has_group:"coach" %} 
          <a class="nav-link" href="{% url 'inscription_individuel' %}">Entretien initial</a>
              <!-- <p> {{ user.is_authenticated }}</p>-->

          <li class="nav-item dropdown nav-item active">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Diagnostics
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{% url 'diagnostic_psychosocial' %}">Diagnostic pyscho-social</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'diagnostic_physique_residence' %}">Diagnostic individuel physique RESIDENCE</a></li>
              <li><a class="dropdown-item" href="{% url 'diagnostic_physique_ehpad' %}">Diagnostic individuel physique EHPAD</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'fiche_test' %}">Fiche de suivi/test</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown nav-item active">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Activités
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{% url 'creation_groupe_activite' %}">Création groupe d'activités</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'fiche_presence'%}"> Feuille de présence</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'fiche_activite'%}"> Feuille d'activités</a></li>
            </ul>
          </li>

          {% endif %}
          <li class="nav-item dropdown nav-item active">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Structures
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% if request.user|has_group:"coach" %} 
              <li><a class="dropdown-item"  href="{% url 'diagnostic_structurel' %}">Diagnostic structurel</a></li>
              {% endif %}

              {% if request.user|has_group:"structure" %} 
              <li><a class="dropdown-item"  href="{% url 'inscription_structure' %}">Inscription structure</a></li>
              {% endif %}
            </ul>
          </li>

          <li class="nav-item dropdown nav-item active">
            <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Visualisations
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% if request.user|has_group:"structure" %} 
                <li><a class="dropdown-item"  href="{% url 'structure_view' %} ">Structures</a> </li>
              {% endif %}

              {% if request.user|has_group:"coach" %} 

              <li><a class="dropdown-item"  href="{% url 'liste_beneficiaire_coach' %}">Liste bénéficiaire</a></li>
          
              
              {% endif %}
            </ul>
          </li>
          <a class="nav-link" href="{% url 'logout' %}">Se deconnecter</a>
        </ul>
      </div>
    {% else %}
    <a class="nav-item nav-link" href="{% url 'login' %}">Se connecter</a>
    {% endif %}
    </div>
</nav>