
{% extends "application_adyma/base.html" %}

{% block content %}
{% load crispy_forms_tags %}	
<div class="card">
    <div class="card-body">
        <h1>Feuille de suivi/d'évaluation</h1>
        <h3>Identité de la personne</h3>
        <form class="post-form" action="{% url 'fiche_test' %}" method="post"> 
            {% csrf_token %}
            {{ form.beneficiaire|as_crispy_field }}
            {{ form.date_test|as_crispy_field }}
            <h3>Exercices</h3>
            {{ form.tug|as_crispy_field }}
            {{ form.relev_chaise|as_crispy_field }}
            {{ form.Aller_sol|as_crispy_field }}
            {{ form.peri_marche|as_crispy_field }}

            <button type="submit" class="btn btn-success" value="Enregistrer">Enregistrer </button>
        </form>
    </div>
</div>
{% endblock %}


