{% extends "application_adyma/base.html" %}

{% block content %}
{% load crispy_forms_tags %}	
<div class="card">
    <div class="card-body">
        <h1>Feuille d'activités</h1>
        <form class="post-form" action="{% url 'fiche_activite' %}" method="post">  <!-- aciton permet denvoyer le post à l'url qui prend la vue du formulaire. -->
            {% csrf_token %}
           
            {{ form|crispy }} 
            <button type="submit" class="btn btn-success" value="Enregistrer">Enregistrer </button>
        </form>
    </div>
</div>
{% endblock %}