{% extends "application_adyma/base.html" %}

{% block content %}
{% load crispy_forms_tags %}	
<div class="card">
    <div class="card-body">
        <h1>Création d'un groupe d'activités  </h1>
        <form class="post-form" action="{% url 'creation_groupe_activite' %}" method="post">
            {% csrf_token %}
            {{ form|crispy }} 
            <button type="submit" class="btn btn-success" value="Enregistrer">Enregistrer </button>
        </form>
    </div>
</div>
{% endblock %}