#logo {
    width: 150px;
    height: 150px
}

h1 {
    margin-top : 20px;
    margin-bottom : 30px;
    
}

h3 {
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #79aec8;
    padding: 20px;
}

h4 {
    margin-bottom : 20px;
    margin-top : 20px;
    font-weight : bold;

}
.control-group {
    margin-bottom: 10px;
}

.control-label{
    font-size: 1.2rem;
}

.margin_checkbox {
    margin : 10px;
}

.btn-success {
    background-color : blue;
}



.box {
    display:flex;
    justify-content:center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}

.logo_login{
    max-width:30%;
}

.card {
    border: 0px solid rgba(0,0,0,.125);

}