{% extends "application_adyma/base.html" %}
{% block content %}
<div class="card">
    <div class="card-body">
      <h3>Liste des bénéficiaires de {{ user.username }}</h3>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col-2">Nom-Prenom </th>
              <th scope="col-2">Date d'inscription</th>
              <th scope="col-2">Groupe d'activités</th>
              <th scope="col-2">Structure</th>
            </tr>
          </thead>
          <tbody>
              
            {% for item in liste_beneficiaire_coach %}
            <tr>
              <td><a href="{{ item.get_absolute_url }}"> {{ item.nom_prenom }} </a></td>
              <td>{{ item.date_inscription }} </td>
              <td>{{ item.groupe }} </td>
              <td>{{ item.groupe.structure }} </td>
             
              {% endfor %}
             
            </tr>
          </tbody>
        </table>
      </div>
    </div>



    
    {% endblock %}
