{% extends "application_adyma/base.html" %}

{% block content %}




<!-- Feuille d'inscription -->
<div class="card">
  <div class="card-body">
    <h3 class="text-center">Feuille d'inscription de {{ detail_beneficiaire.nom_prenom }}</h3>
    <div class="row justify-content">
      <div class="col-8">
        <table class="table table-bordered table-hover">
          <tbody>
            <tr>
              <td class="col-4 text-uppercase fw-bold">Nom - Prénom</td>
              <td class="col-4 "> {{ detail_beneficiaire.nom_prenom }}</td>
            </tr>
            <tr>
              <td class="col-4 text-uppercase fw-bold">Date d'inscription</td>
              <td class="col-4">{{ detail_beneficiaire.date_inscription }}</td>
            </tr>
            <tr>
              <td class="col-4 text-uppercase fw-bold">La structure</td>
              <td class="col-4">{{ detail_beneficiaire.structure }}</td>
            </tr>
            <tr>
              <td class="col-4 text-uppercase fw-bold">Date de naissance</td>
              <td class="col-4">{{ detail_beneficiaire.date_naissance|default_if_none:"&nbsp;" }}</td>
            </tr>
            <tr>
              <td class="col-4 text-uppercase fw-bold">Age</td>
              <td class="col-4">{{ detail_beneficiaire.age|default_if_none:"&nbsp;" }}</td>
            </tr>
            <tr>
              <td class="col-4 text-uppercase fw-bold">Numéro d'appartement</td>
              <td class="col-4">{{ detail_beneficiaire.appartement|default_if_none:"&nbsp;" }}</td>
            </tr>
            <tr>
              <td class="col-4 text-uppercase fw-bold">Numéro de téléphone</td>
              <td class="col-4">{{ detail_beneficiaire.telephone|default_if_none:"&nbsp;" }}</td>
            </tr>
            <tr>
              <td class="col-4 text-uppercase fw-bold">Les maladies et pathologies</td>
              <td class="col-4">{{ detail_beneficiaire.maladie_pathologie|default_if_none:"&nbsp;" }}</td>
            </tr>
            <tr>
              <td class="col-4 text-uppercase fw-bold">Nombre d'activités dans la structure</td>
              <td class="col-4">{{ detail_beneficiaire.nb_activite_structure|default_if_none:"&nbsp;" }}</td>
            </tr>
            <tr>
              <td class="col-4 text-uppercase fw-bold">Intérêt du projet</td>
              <td class="col-4">{{ detail_beneficiaire.interet_proj|default_if_none:"&nbsp;" }}</td>
            </tr>
            <tr>
              <td class="col-4 text-uppercase fw-bold">Freins à la mobilité</td>
              <td class="col-4">{{ detail_beneficiaire.frein_mobi|default_if_none:"&nbsp;" }}</td>
            </tr>
            <tr>
              <td class="col-4 text-uppercase fw-bold">Thême de travail souhaité</td>
              <td class="col-4">{{ detail_beneficiaire.them_trav_souh|default_if_none:"&nbsp;" }}</td>
            </tr>
            <tr>
              <td class="col-4 text-uppercase fw-bold">Orientation</td>
              <td class="col-4">{{ detail_beneficiaire.orientation|default_if_none:"&nbsp;" }}</td>
            </tr>
            <tr>
              <td class="col-4 text-uppercase fw-bold">Contractualisation</td>
              <td class="col-4">{{ detail_beneficiaire.contractualisation|yesno|default_if_none:"&nbsp;" }}</td>
            </tr>
            <tr>
              <td class="col-4 text-uppercase fw-bold">Commentaires</td>
              <td class="col-4">{{ detail_beneficiaire.commentaires|default_if_none:"&nbsp;" }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-4">

      </div>
    </div>
  </div>
</div>
<!-- Diagnostic psychosocial -->
<div class="card">
  <div class="card-body">
    <h3 class="text-center">Diagnostic psychosocial de {{ detail_beneficiaire.nom_prenom }}</h3>
    <div class="row justify-content">
      {% if detail_beneficiaire_diag_psycho.exists %} 
      <div class="col-8">
        <table class="table table-bordered table-hover">
          {% for instance in detail_beneficiaire_diag_psycho %}
          <tbody>
            <tr>
              <td class="col-4 text-uppercase fw-bold">Date du diagnostic psychosocial</td>
              <td class="col-4">{{ instance.date_diag }}</td>
            </tr>

            <tr>
              <td class="col-4 text-uppercase fw-bold">Instrument de marche</td>
              <td class="col-4">{{ instance.instrument_marche|yesno }}</td>
            </tr>
            <tr>
              <td class="col-4 text-uppercase fw-bold">Fait du kiné </td>
              <td class="col-4">{{ instance.kine|yesno }}</td>
            </tr>
            <tr>
              <td class="col-4 text-uppercase fw-bold">5 mètres – outils – levers de chaise</td>
              <td class="col-4">{{ instance.get_metre_outil_lever_chaise_display }}</td>
            </tr>
            <tr>
              <td class="col-4 text-uppercase fw-bold">Durée moyenne des sorties extérieures (en minutes)</td>
              <td class="col-4">{{ instance.duree_moyenne_sortie_ext }}</td>
            </tr>
            <tr>
              <td class="col-4 text-uppercase fw-bold">Nombre de sorties (en moyenne) par semaine</td>
              <td class="col-4">{{ instance.nb_sortie_semaine }}</td>
            </tr>
            <tr>
              <td class="col-4 text-uppercase fw-bold">Nombre de chutes dans l'année</td>
              <td class="col-4">{{ instance.nb_chute_annee }}</td>
            </tr>
            <tr>
              <td class="col-4 text-uppercase fw-bold">Nombre d'hospitalisation dans l'année</td>
              <td class="col-4">{{ instance.nb_hospitalisation_annee }}</td>
            </tr>
            <tr>
              <td class="col-4 text-uppercase fw-bold">Durée de marche maximale estimée</td>
              <td class="col-4">{{ instance.duree_marche_maximal_estime }}</td>
            </tr>
            <tr>
              <td class="col-4 text-uppercase fw-bold">Canne / déambulateur ?</td>
              <td class="col-4">{{ instance.get_canne_deambulateur_display }}</td>
            </tr>
            <tr>
              <td class="col-4 text-uppercase fw-bold">Capacité à aller au sol et se relever</td>
              <td class="col-4">{{ instance.get_capacite_aller_sol_marcher_display }}</td>
            </tr>
            <tr>
              <td class="col-4 text-uppercase fw-bold">Envie de sortir et d'entretenir ma capacité à marcher/bouger</td>
              <td class="col-4">{{ instance.get_envie_sortir_capacite_marcher_display }}</td>
            </tr>
            <tr>
              <td class="col-4 text-uppercase fw-bold">Envie de retrouver régulièrement un partenaire ou groupe pour marcher/bouger</td>
              <td class="col-4">{{ instance.get_envie_retrouver_partenaire_marcher_display }}</td>
            </tr>
            <tr>
              <td class="col-4 text-uppercase fw-bold">Avez-vous des déséquilibres dans vos déplacements au quotidien ?</td>
              <td class="col-4">{{ instance.get_desequilibre_deplacement_quotidien_display }}</td>
            </tr>
            <tr>
              <td class="col-4 text-uppercase fw-bold">Connaissez-vous bien ce quartier ?</td>
              <td class="col-4">{{ instance.get_connaissance_quartier_display }}</td>
            </tr>
            <tr>
              <td class="col-4 text-uppercase fw-bold">Alimentation correcte ?</td>
              <td class="col-4">{{ instance.get_alimentation_correcte_display }}</td>
            </tr>
            <tr>
              <td class="col-4 text-uppercase fw-bold">Repos correct ?</td>
              <td class="col-4">{{ instance.get_repos_correct_display }}</td>
            </tr>

            <tr class="total-alerte fw-bold">
              <td class="col-4 lighter ">Total point diagnostic psychosocial</td>
              <td class="col-4">{{ total_point_psycho }}</td>
            </tr>
          </tbody>
          {% endfor %}
        </table>
      </div>
      <div class="col-4">
        <div class="row alertes ">
          <h5 class="text-center" >Alertes</h5>
          {% for instance in alertes_psychosocial %}
            <li class="list-group-item">{{ instance }}</li>
          {% endfor %}
         </div>
      </div>
      {% else %}
        <p> Le bénéficiaire {{ detail_beneficiaire.nom_prenom }} ne possède pas de Diagnostic psychosocial</p>
      {% endif %}
    </div>
  </div>
</div>
<!-- Diagnostic individuel physique Résidence -->
<div class="card">
  <div class="card-body">
    <h3 class="text-center">Diagnostic individuel physique de mobilité - Résidence de {{ detail_beneficiaire.nom_prenom }}</h3>
    <div class="row justify-content">
      {% if detail_beneficiaire_diag_ind_res.exists %} 
      <div class="col-8">
        <table class="table table-bordered table-hover">
          {% for instance in detail_beneficiaire_diag_ind_res %}
          <tbody>
            <tr>
              <td class="col-4 text-uppercase fw-bold"> Date du diagnostic individuel physique de mobilité - Résidence</td>
              <td class="col-4">{{ instance.date_diag }}</td>
            </tr>
            <tr>
              <td class="col-4 text-uppercase fw-bold">Se lever d'une chaise</td>
              <td class="col-4">{{ instance.get_lever_chaise_display }}</td>
            </tr>
            <tr>
              <td class="col-4 text-uppercase fw-bold">Tenir debout immobile </td>
              <td class="col-4">{{ instance.get_debout_immobile_display }}</td>
            </tr>
            <tr>
              <td class="col-4 text-uppercase fw-bold">Tourner la tête à gauche et à droite</td>
              <td class="col-4">{{ instance.get_tourner_tete_display }}</td>
            </tr>
            <tr>
              <td class="col-4 text-uppercase fw-bold">Passer une main puis l'autre vers la nuque</td>
              <td class="col-4">{{ instance.get_main_nuq_display }}</td>
            </tr>
            <tr>
              <td class="col-4 text-uppercase fw-bold">Enroulement vertebral</td>
              <td class="col-4">{{ instance.get_enr_vertebral_display }}</td>
            </tr>
            <tr>
              <td class="col-4 text-uppercase fw-bold">Marcher en ligne droite</td>
              <td class="col-4">{{ instance.get_marcher_droit_display }}</td>
            </tr>
            <tr>
              <td class="col-4 text-uppercase fw-bold">Relevé du pied / hauteur du pas</td>
              <td class="col-4">{{ instance.get_releve_pied_display }}</td>
            </tr>
            <tr>
              <td class="col-4 text-uppercase fw-bold">Longueur du pas</td>
              <td class="col-4">{{ instance.get_long_pas_display }}</td>
            </tr>
            <tr>
              <td class="col-4 text-uppercase fw-bold">Regard horizontal</td>
              <td class="col-4">{{ instance.get_regard_horizon_display }}</td>
            </tr>
            <tr>
              <td class="col-4 text-uppercase fw-bold">Coordination bras/jambes</td>
              <td class="col-4">{{ instance.get_coord_bras_jamb_display }}</td>
            </tr>
            <tr>
              <td class="col-4 text-uppercase fw-bold">Alignement vertebral</td>
              <td class="col-4">{{ instance.get_alig_vert_display }}</td>
            </tr>
            <tr>
              <td class="col-4 text-uppercase fw-bold">Respiration</td>
              <td class="col-4">{{ instance.get_respiration_display }}</td>
            </tr>
            <tr>
              <td class="col-4 text-uppercase fw-bold">Marcher en ligne droite yeux fermés</td>
              <td class="col-4">{{ instance.get_march_droit_yeu_fermé_display }}</td>
            </tr>
            <tr>
              <td class="col-4 text-uppercase fw-bold">Marcher en ligne droite en arrière</td>
              <td class="col-4">{{ instance.get_march_arriere_display }}</td>
            </tr>
            <tr>
              <td class="col-4 text-uppercase fw-bold">Tenir 10 secondes en fente avant jambe droite</td>
              <td class="col-4">{{ instance.get_fent_jamb_droit_display }}</td>
            </tr>
            <tr>
              <td class="col-4 text-uppercase fw-bold">Tenir 10 secondes en fente avant jambe gauche</td>
              <td class="col-4">{{ instance.get_fent_jamb_gauche_display }}</td>
            </tr>
            <tr>
              <td class="col-4 text-uppercase fw-bold">Capacité d'aller au sol et se lever</td>
              <td class="col-4">{{ instance.get_cap_sol_lever_display }}</td>
            </tr>
            <tr>
              <td class="col-4 text-uppercase fw-bold">Essoufflement et/ou rougeur en fin de session</td>
              <td class="col-4">{{ instance.get_essouff_display }}</td>
            </tr>
            <tr>
              <td class="col-4 text-uppercase fw-bold">Nombre de chutes dans l'année</td>
              <td class="col-4">{{ instance.get_nbe_chute_ann_display}}</td>
            </tr>
            <tr>
              <td class="col-4 text-uppercase fw-bold">Deplacement dehors au quotidien</td>
              <td class="col-4">{{ instance.get_depl_dehors_display }}</td>
            </tr>
            <tr class="total-alerte fw-bold">
              <td class="col-4 lighter ">Total point diagnostic individuel résidence</td>
              <td class="col-4">{{ total_point_indi_res }}</td>
            </tr>
          </tbody>
          {% endfor %}
        </table>
      </div>
      <div class="col-4">
        <div class="row alertes ">
          <h5 class="text-center" >Alertes</h5>
          {% for instance in alertes_diag_ind_residence %}
            <li class="list-group-item">{{ instance }}</li>
          {% endfor %}
         </div>
      </div>
      {% else %}
        <p> Le bénéficiaire {{ detail_beneficiaire.nom_prenom }} ne possède pas de Diagnostic individuel physique de mobilité - Résidence</p>
      {% endif %}
    </div>
  </div>
  <!-- Diagnostic individuel physique Ephad -->
<div class="card">
  <div class="card-body">
    <h3 class="text-center">Diagnostic individuel physique de mobilité - Ehpad de {{ detail_beneficiaire.nom_prenom }}</h3>
    <div class="row justify-content">
      {% if detail_beneficiaire_diag_ind_ehpad.exists %} 
      <div class="col-8">
        <table class="table table-bordered table-hover">
          {% for instance in detail_beneficiaire_diag_ind_ehpad %}
          <tbody>
            <tr>
              <td class="col-4 text-uppercase fw-bold"> Date du diagnostic individuel physique de mobilité - Résidence</td>
              <td class="col-4">{{ instance.date_diag }}</td>
            </tr>
            <tr class="fw-bold col-8">
              <td class=""><h4> I. Capacités Physiques / 20</h4></td>
            </tr>
            <tr>
              <td class="col-4 text-uppercase fw-bold">Deplacements quotidien</td>
              <td class="col-4">{{ instance.get_deplacement_quo_display }}</td>
            </tr>
            <tr>
              <td class="col-4 text-uppercase fw-bold">Se mettre debout (d'une chaise, fauteuil ou lit) </td>
              <td class="col-4">{{ instance.get_mettre_debout_display }}</td>
            </tr>
            <tr>
              <td class="col-4 text-uppercase fw-bold">Equilibre en déplacement</td>
              <td class="col-4">{{ instance.get_equilibre_deplacement_display }}</td>
            </tr>
            
            <tr>
              <td class="col-4 text-uppercase fw-bold">Souplesse</td>
              <td class="col-4">{{ instance.get_souplesse_display }}</td>
            </tr>
            <tr>
              <td class="col-4 text-uppercase fw-bold">Force musculaire</td>
              <td class="col-4">{{ instance.get_force_musculaire_display }}</td>
            </tr>
            <tr>
              <td class="col-4 text-uppercase fw-bold">Coordination</td>
              <td class="col-4">{{ instance.get_coordination_display }}</td>
            </tr>
            <tr>
              <td class="col-4 text-uppercase fw-bold">Douleurs</td>
              <td class="col-4">{{ instance.get_douleurs_display }}</td>
            </tr>
            <tr>
              <td class="col-4 text-uppercase fw-bold">Fatigabilité</td>
              <td class="col-4">{{ instance.get_fatigabilite_display }}</td>
            </tr>

            <tr class="total-alerte fw-bold">
              <td class="col-4 lighter ">Total point physique</td>
              <td class="col-4">{{ total_point_ehpad_physique }}</td>
            </tr>
            <tr class="fw-bold col-8">
              <td class=" "><h4> II. Capacités Psychologiques / 20</h4></td>
            </tr>
            <tr>
              <td class="col-4 text-uppercase fw-bold">Estime de soi et mobilité</td>
              <td class="col-4">{{ instance.get_estime_soi_mobi_display }}</td>
            </tr>
            <tr>
              <td class="col-4 text-uppercase fw-bold">Motivation et envie de se mobiliser</td>
              <td class="col-4">{{ instance.get_motiv_envie_mobiliser_display }}</td>
            </tr>
            <tr>
              <td class="col-4 text-uppercase fw-bold">Se projeter à l'extérieur, intérêt à bouger et à sortir de sa chambre</td>
              <td class="col-4">{{ instance.get_interet_bouger_display }}</td>
            </tr>
            <tr>
              <td class="col-4 text-uppercase fw-bold">Profil énergétique</td>
              <td class="col-4">{{ instance.get_profil_energie_display }}</td>
            </tr>

            <tr class="total-alerte fw-bold">
              <td class="col-4 lighter ">Total point psychologique</td>
              <td class="col-4">{{ total_point_ehpad_psychologique }}</td>
            </tr>
            <tr class="fw-bold">
              <td class="col-8 "><h4> III. Capacités sociaux et relationnels / 20</h4></td>
            </tr>
            <tr>
              <td class="col-4 text-uppercase fw-bold">Identification et engagement dans l'activité</td>
              <td class="col-4">{{ instance.get_identi_engagement_act_display }}</td>
            </tr>
            <tr>
              <td class="col-4 text-uppercase fw-bold">Communication</td>
              <td class="col-4">{{ instance.get_communication_display }}</td>
            </tr>
            <tr>
              <td class="col-4 text-uppercase fw-bold">Niveau d'attention et d'interactivité</td>
              <td class="col-4">{{ instance.get_niveau_attention_display }}</td>
            </tr>
            <tr>
              <td class="col-4 text-uppercase fw-bold">Profil relationnel</td>
              <td class="col-4">{{ instance.get_profil_relationnel_display }}</td>
            </tr>
            

            <tr class="total-alerte fw-bold">
              <td class="col-4 lighter ">Total point diagnostic individuel Ehpad</td>
              <td class="col-4">{{ total_point_psycho }}</td>
            </tr>
          </tbody>
          {% endfor %}
        </table>
      </div>
      
      {% else %}
        <p> Le bénéficiaire {{ detail_beneficiaire.nom_prenom }} ne possède pas de Diagnostic individuel physique de mobilité - Ehpad</p>
      {% endif %}
    </div>
  </div>







{% endblock %}