{% extends "application_adyma/base.html" %}
{% block content %}
<div class="card">
    <div class="card-body">
      <h3>Liste des bénéficiaires de {{ user.username }}</h3>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col-2">Nom-Prenom </th>
              <th scope="col-2">Date d'inscription</th>
              <th scope="col-2">Groupe</th>
            </tr>
          </thead>
          <tbody>
              
            {% for instance in liste_beneficiaire_structure %}
            <tr>
              <td>{{ instance.nom_prenom }}</td>
              <td>{{ instance.date_inscription }}</td>

              <td>{{ instance.groupe.nom_groupe }}</td>       
            </td>
              {% endfor %}

            </tr>
          </tbody>
        </table>
      </div>
    </div>

<!-- Feuille d'inscription -->
<div class="card">
  <div class="card-body">
    <h3 class="text-center">Feuille d'inscription de {{ user.username }}</h3>
    <div class="row justify-content">
      {% if structure_inscription.exists %} 
      <div class="col-8">
        <table class="table table-bordered table-hover">
          {% for instance in structure_inscription %}
          <tbody>

            <tr>
              <td class="col-4 text-uppercase fw-bold">Date d'inscription</td>
              <td class="col-4">{{ instance.date_inscription_structure }}</td>
            </tr>
            <tr>
              <td class="col-4 text-uppercase fw-bold">Adresse</td>
              <td class="col-4">{{ instance.adresse_structure }}</td>
            </tr>
            <tr>
              <td class="col-4 text-uppercase fw-bold">Ville</td>
              <td class="col-4">{{ instance.ville_structure }}</td>
            </tr>
            <tr>
              <td class="col-4 text-uppercase fw-bold">Téléphone</td>
              <td class="col-4">{{ instance.telephone_structure }}</td>
            </tr>
            <tr>
              <td class="col-4 text-uppercase fw-bold">Nombre de résidents</td>
              <td class="col-4">{{ instance.nombre_residents }}</td>
            </tr>
            <tr>
              <td class="col-4 text-uppercase fw-bold">Nom du directeur</td>
              <td class="col-4">{{ instance.nom_directeur_structure }}</td>
            </tr>
            <tr>
              <td class="col-4 text-uppercase fw-bold">Mail du directeur</td>
              <td class="col-4">{{ instance.mail_directeur_structure }}</td>
            </tr>
            <tr>
              <td class="col-4 text-uppercase fw-bold">Téléphone du directeur</td>
              <td class="col-4">{{ instance.telephone_directeur_structure }}</td>
            </tr>
            <tr>
              <td class="col-4 text-uppercase fw-bold">Autres salariés référents</td>
              <td class="col-4">{{ instance.autres_salaries_referents }}</td>
            </tr>
            <tr>
              <td class="col-4 text-uppercase fw-bold">Nom - Prénom Coach 1</td>
              <td class="col-4">{{ instance.nom_prenom_coach_1 }}</td>
            </tr>
            <tr>
              <td class="col-4 text-uppercase fw-bold">Nom - Prénom Coach 2</td>
              <td class="col-4">{{ instance.nom_prenom_coach_2 }}</td>
            </tr>
          </tbody>
          {% endfor %}
        </table>
      </div>
      {% else %}
        <p> La structure {{ user.username}} ne possède pas de feuille d'inscription</p>
      {% endif %}
    </div>
  </div>
</div>
<!-- Diagnostic Structurel -->
<div class="card">
  <div class="card-body">
    <h3 class="text-center">Diagnostic Structurel de {{ user.username }}</h3>
    <div class="row justify-content">
      {% if structure_inscription.exists %} 
      <div class="col-8">
        <table class="table table-bordered table-hover">
          {% for instance in diagnostic_structurel %}
          <tbody>
            <tr>
              <td class="col-4 text-uppercase fw-bold">Date diagnostic structurel</td>
              <td class="col-4">{{ instance.date_diagnostic }}</td>
            </tr>
            <tr>
              <td class="col-4 text-uppercase fw-bold">Adaptabilité de l'environnement et de la structure à la mobilité (escaliers, barres d'appuis, luminosité...)</td>
              <td class="col-4">{{ instance.get_adaptation_env_struc_mobi_display }}</td>
            </tr>
            <tr>
              <td class="col-4 text-uppercase fw-bold">Nombre d'activité (mémoire, gym, informatique...) par semaine proposées</td>
              <td class="col-4">{{ instance.get_nombre_activite_semaine_display }}</td>
            </tr>
            <tr>
              <td class="col-4 text-uppercase fw-bold">Salle d'activité réservée pour les activités physiques</td>
              <td class="col-4">{{ instance.get_salle_activite_reservee_display }}</td>
            </tr>
            <tr>
              <td class="col-4 text-uppercase fw-bold">Matériel d'activité physique (tapis, machines, espalier)</td>
              <td class="col-4">{{ instance.get_materiel_activite_physique_display }}</td>
            </tr>
            <tr>
              <td class="col-4 text-uppercase fw-bold">Liens réguliers avec organisation extérieure</td>
              <td class="col-4">{{ instance.get_liens_reguliers_org_ext_display }}</td>
            </tr>
            <tr>
              <td class="col-4 text-uppercase fw-bold">Nombre de personnes extérieures venant réulièrement dans l'établissement</td>
              <td class="col-4">{{ instance.get_nb_personnes_ext_reg_etablissement_display }}</td>
            </tr>
            <tr>
              <td class="col-4 text-uppercase fw-bold">Sorties et séjours organisés dans l'année</td>
              <td class="col-4">{{ instance.get_sorties_sejours_org_annee_display }}</td>
            </tr>
            <tr>
              <td class="col-4 text-uppercase fw-bold">Nombre de commerces de proximité (< 250m) </td>
              <td class="col-4">{{ instance.get_nb_commerces_prox_display }}</td>
            </tr>
            <tr>
              <td class="col-4 text-uppercase fw-bold">Nombre de parcs à proximité (< 500m)</td>
              <td class="col-4">{{ instance.get_nb_parcs_prox_display }}</td>
            </tr>
            <tr>
              <td class="col-4 text-uppercase fw-bold">Transports en commun à proximité (en mètres)</td>
              <td class="col-4">{{ instance.get_transports_communs_prox_display }}</td>
            </tr>
            <tr class="total-alerte fw-bold">
              <td class="col-4 lighter ">Total point diagnostic structurel / 10</td>
              <td class="col-4">{{ total_point_structurel }}</td>
            </tr>
          </tbody>
          {% endfor %}
        </table>
      </div>
      {% else %}
        <p> La structure {{ detail_beneficiaire.nom_prenom }} ne possède pas de feuille d'inscription</p>
      {% endif %}
    </div>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <h3 class="text-center">Présence de {{ user.username }}</h3>
    <div class="row justify-content">
      <div class="col-8">
        <table class="table table-bordered table-hover">
          <tbody>
            <tr>
              <td class="col-8 text-uppercase fw-bold"> Nombre de sorties moyen par semaine des résidents </td>
              <td class="col-2">{{ avg_nb_sortie_semaine.nb_moy_sort }}</td>
            </tr>
            <tr>
              <td class="col-8 text-uppercase fw-bold"> Durée moyenne des sorties extérieures des résidents </td>
              <td class="col-2">{{ avg_duree_moyenne_sortie_ext.nb_moy_sort }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>










    
    {% endblock %}


