{% extends "application_adyma/base.html" %}

{% block content %}
{% load crispy_forms_tags %}	
<div class="card">
    <div class="card-body">
        <h1>Diagnostic psycho</h1>
        <h3>identité de la personne</h3>
        <form class="post-form" action="{% url 'diagnostic_physique_residence' %}" method="post"> 
            {% csrf_token %}
            {{ form.beneficiaire|as_crispy_field }}
            {{ form.date_diag|as_crispy_field }}

            <h3>Capacités physiques de la personne </h3>
            {% csrf_token %}
            {{ form.lever_chaise|as_crispy_field }}
            {{ form.debout_immobile|as_crispy_field }}
            {{ form.tourner_tete|as_crispy_field }}
            {{ form.main_nuq|as_crispy_field }}
            {{ form.enr_vertebral|as_crispy_field }}
            {{ form.marcher_droit|as_crispy_field }}
            {{ form.releve_pied|as_crispy_field }}
            {{ form.long_pas|as_crispy_field }}
            {{ form.regard_horizon|as_crispy_field }}
            {{ form.coord_bras_jamb|as_crispy_field }}

            {{ form.alig_vert|as_crispy_field }}
            {{ form.respiration|as_crispy_field }}
            {{ form.march_droit_yeu_fermé|as_crispy_field }}
            {{ form.march_arriere|as_crispy_field }}
            {{ form.fent_jamb_droit|as_crispy_field }}
            {{ form.fent_jamb_gauche|as_crispy_field }}
            {{ form.cap_sol_lever|as_crispy_field }}
            {{ form.essouff|as_crispy_field }}
            {{ form.nbe_chute_ann|as_crispy_field }}
            {{ form.depl_dehors|as_crispy_field }}

            <button type="submit" class="btn btn-success" value="Enregistrer">Enregistrer </button>
        </form>
    </div>
</div>
{% endblock %}