{% extends "application_adyma/base.html" %}

{% block content %}
{% load crispy_forms_tags %}	
<div class="card">
    <div class="card-body">
        <h1>Diagnostic physique EHPAD</h1>
        <h3>Identité de la personne</h3>
        <form class="post-form" action="{% url 'diagnostic_physique_ehpad' %}" method="post"> 
            {% csrf_token %}
            {{ form.beneficiaire|as_crispy_field }}
            {{ form.date_diag|as_crispy_field }}

            <h3>Capacités physiques </h3>
            <h4>I. Capacités fonctionnelles au quotidien </h4>
            {{ form.deplacement_quo|as_crispy_field }}
            {{ form.mettre_debout|as_crispy_field }}
            {{ form.equilibre_deplacement|as_crispy_field }}

            <h4>II. Capacités fonctionnelles au quotidien </h4>
            {{ form.souplesse|as_crispy_field }}
            {{ form.force_musculaire|as_crispy_field }}
            {{ form.coordination|as_crispy_field }}
            {{ form.douleurs|as_crispy_field }}
            {{ form.fatigabilite|as_crispy_field }}

            <h3>Capacités psychologiques </h3>
            {{ form.estime_soi_mobi|as_crispy_field }}
            {{ form.motiv_envie_mobiliser|as_crispy_field }}
            {{ form.interet_bouger|as_crispy_field }}
            {{ form.profil_energie|as_crispy_field }}


            <h3>Capacités sociaux et relationnels </h3>
            {{ form.identi_engagement_act|as_crispy_field }}
            {{ form.communication|as_crispy_field }}
            {{ form.niveau_attention|as_crispy_field }}
            {{ form.profil_relationnel|as_crispy_field }}
            <button type="submit" class="btn btn-success" value="Enregistrer">Enregistrer </button>
        </form>
    </div>
</div>
{% endblock %}