{% extends "application_adyma/base.html" %}

{% block content %}
{% load crispy_forms_tags %}	
<div class="card">
    <div class="card-body">
        <h1>Diagnostic structurel</h1>
        <form class="post-form" action="{% url 'diagnostic_structurel' %}" method="post">  <!-- aciton permet denvoyer le post à l'url qui prend la vue du formulaire. -->
            {% csrf_token %}
           
            {{ form|crispy }} <!-- design form crispy-->
            <!-- <button= type="submit" class="btn btn-success" value="Enregistrer">Enregistrer</button> -->

            <button type="submit" class="btn btn-success" value="Enregistrer">Enregistrer </button>
        </form>
        
        <!--{% for element in data_initial %}
            {{ element.prenom }}<br />

        {% endfor %}
        -->
    </div>
</div>
{% endblock %}