{% extends "application_adyma/base.html" %}

{% block content %}
{% load crispy_forms_tags %}	
<div class="card">
    <div class="card-body">
        <h1>Diagnostic psycho</h1>
        <h3>identité de la personne</h3>
        <form class="post-form" action="{% url 'diagnostic_psychosocial' %}" method="post"> 
            {% csrf_token %}
            {{ form.beneficiaire|as_crispy_field }}
            {{ form.date_diag|as_crispy_field }}
            {{ form.instrument_marche|as_crispy_field }}
            
            <h3>Capacités physiques de la personne </h3>
            {% csrf_token %}
            {{ form.kine|as_crispy_field }}
            {{ form.metre_outil_lever_chaise|as_crispy_field }}
            {{ form.duree_moyenne_sortie_ext|as_crispy_field }}
            {{ form.nb_sortie_semaine|as_crispy_field }}
            {{ form.nb_chute_annee|as_crispy_field }}
            {{ form.nb_hospitalisation_annee|as_crispy_field }}
    
            {{ form.duree_marche_maximal_estime|as_crispy_field }}
            {{ form.canne_deambulateur|as_crispy_field }}
            {{ form.capacite_aller_sol_marcher|as_crispy_field }}
        

            <h3>Vos envies </h3>
            {% csrf_token %}
            {{ form.envie_sortir_capacite_marcher|as_crispy_field }}
            {{ form.envie_retrouver_partenaire_marcher|as_crispy_field }}
            {{ form.desequilibre_deplacement_quotidien|as_crispy_field }}
            {{ form.connaissance_quartier|as_crispy_field }}
            {{ form.alimentation_correcte|as_crispy_field }}
            {{ form.repos_correct|as_crispy_field }}
            <button type="submit" class="btn btn-success" value="Enregistrer">Enregistrer </button>
        </form>
    </div>
</div>
{% endblock %}