


{% extends "application_adyma/base.html" %}

{% block content %}
{% load crispy_forms_tags %}	
<div class="card">
    <div class="card-body">
        <h1>Inscription de la structure</h1>
        <h3>Informations de la structure</h3>
        <form class="post-form" action="{% url 'inscription_structure' %}" method="post"> 
            {% csrf_token %}
            {{ form.nom_structure|as_crispy_field }}
            {{ form.date_inscription_structure|as_crispy_field }}
            {{ form.adresse_structure|as_crispy_field }}
            {{ form.ville_structure|as_crispy_field }}
            {{ form.telephone_structure|as_crispy_field }}

            <h3>Eléments structurels de la structure</h3>
            {{ form.nombre_residents|as_crispy_field }}
            {{ form.nom_directeur_structure|as_crispy_field }}
            {{ form.mail_directeur_structure|as_crispy_field }}
            {{ form.telephone_directeur_structure|as_crispy_field }}
            {{ form.autres_salaries_referents|as_crispy_field }}
            {{ form.nom_prenom_coach_1|as_crispy_field }}

            <button type="submit" class="btn btn-success" value="Enregistrer">Enregistrer </button>
        </form>
    </div>
</div>
{% endblock %}

    <!-- aciton permet denvoyer le post à l'url qui prend la vue du formulaire. -->

           <!--{% for element in data_initial %}
            {{ element.prenom }}<br />

        {% endfor %}
        -->
        <!-- design form crispy-->
            <!-- <button= type="submit" class="btn btn-success" value="Enregistrer">Enregistrer</button> -->
            <!--         
            {% csrf_token %}
           
            {{ form|crispy }} 
-->