{% extends "application_adyma/base.html" %}

{% block content %}
{% load crispy_forms_tags %}	
<div class="card">
    <div class="card-body">
    {% with url_name=request.resolver_match.url_name %}
        {% if url_name == 'inscription_individuel'%}
        <h1>Entretien individuel</h1>

        {% elif url_name == 'edit_beneficiaire'%}
        <h1>Modification de l'inscription individuel</h1>
        {% endif %}
    {% endwith %}


        <h3>Informations personnelles</h3>
        <form class="post-form" action="{% url 'inscription_individuel' %}" method="post"> 
            {% csrf_token %}
            {{ form.groupe|as_crispy_field }}
            {{ form.date_inscription|as_crispy_field }}
            {{ form.nom_prenom|as_crispy_field }}
            {{ form.date_naissance|as_crispy_field }}
            {{ form.appartement|as_crispy_field }}
            {{ form.telephone|as_crispy_field }}
            
            <h3>Capacités physiques </h3>
            {{ form.maladie_pathologie|as_crispy_field }}
            {{ form.nb_activite_structure|as_crispy_field }}

            <h3>Votre souhait </h3>
            {{ form.interet_proj|as_crispy_field }}
            {{ form.frein_mobi|as_crispy_field }}
            {{ form.them_trav_souh|as_crispy_field }}
            {{ form.orientation|as_crispy_field }}
            {{ form.contractualisation|as_crispy_field }}
            {{ form.commentaires|as_crispy_field }}
            
    {% with url_name=request.resolver_match.url_name %}
        {% if url_name == 'inscription_individuel'%}
        <button type="submit" class="btn btn-success" value="Enregistrer">Enregistrer </button>
    
        {% elif url_name == 'edit_beneficiaire'%}
        <button type="submit" value="update" class="btn btn-success" >Modifier </button>
            {% endif %}
    {% endwith %}

            
        </form>
    </div>
</div>
{% endblock %}